---
layout: default
title: Projects
custom_css: leaflet
custom_js: 
- jquery-3.1.0.min
- leaflet/leaflet
- leaflet-providers-master/leaflet-providers
---

		<div class="content">
			<h1>{{ page.title }}</h1>
            <!--Where the map will live-->
            {% include leaflet.html %}
            <h2>Maps</h2>
            <ul class="posts">
            {% for image in site.static_files %}
                {% if image.path contains 'images/maps' %}
                <li>
                    <a href="{{ site.baseurl }}{{ image.path }}" style="color:#4e4b5c">
                        {{ image.path | remove:"/assets/images/maps/" | remove: image.extname }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}        
            </ul>
            <h2>Videos</h2>
            <ul class="posts">
            {% for video in site.data.videos %}
                <li>
                    <a href="{{ video.webadd }}"style="color:#4e4b5c">
                        {{ video.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            
		</div>
        