<!-- Make the div, call it map -->
    <div id="map"></div>
    <script>

    // initialize the map, in a map variable
    var map = L.map('map').setView([20, 2], 2);
    // setting min zoom
    if ( $(window).width() > 400) {      
        map.options.minZoom = 2;
    } 
    else {
        map.options.minZoom = 1;
    }
    // add basemap. thanks leaflet-providers
    L.tileLayer.provider('Stamen.Terrain').addTo(map);
    // geoJSON variable
    function addDataToMap(data, map) {
        var dataLayer = L.geoJson(data);
        dataLayer.addTo(map);
    };

    $.getJSON("MaxProjects.geojson", function(data) {addDataToMap(data, map);});
  </script>