* {font-style: italic;}
#slide1Div div {
  display:inline-block;
  vertical-align: middle;
  margin:10px;
}
.slideTitle{
  position: absolute;
  bottom:180%;
}
.slideDesc {
  text-align: right;
}
.flowChart {
  border: solid rgba(250,250,250,1) !important;;
  border-width: 1px !important;
  border-radius: 4px !important;
  text-align: right;
  width:200px;
  margin: 20px 0 !important;
  margin-left: 700px !important;
  padding: 20px !important;
  font-size: 20px !important;
}

#slide3Div .slideTitle {
  bottom: 0%;
}
#slide3Div .slideDesc{
  margin:auto;
}

.a {
  background: rgba(0,255,0,0.05)
}
.b {
  background: rgba(255,0,0,0.05)
}
