<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="../css/main.css">
            <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
        <!-- pages have three sections, the header, the content, and the footer -->
        <body>
            <!-- 
                 header has 2 parts. 
                    1) Emojis, as a nav ul
                    2) Navigation, as a special nav ul     
            -->
            <div class="header">
                <div class="col-xs-10 head">
                    <ul>
                        <li>
                            <img src="../images/SurfPicReg.png">
                            <img src="../images/world_2.png">
                            <img src="../images/SurfPicGoof.png">
                        </li>
                    </ul>
                    
                    <div class="nav">
                        <ul>
                            <li><a href="../">Home</a></li>
                            <li><a href="../about">About</a></li>
                            <li><a href="../projects">Projects</a></li>
                            <li><a href="../blog">Blog</a></li> 
                        </ul>    
                    </div>
                </div>
            </div>
            <div class="container">
                {{ content }}
            </div>
            <div class="footer">
                <ul>
                    <li><a href="mailto:m.grossman1813@gmail.com"><img src="../images/Bl-Email-Circle.png"/></a></li>
                    <li><a href="https://github.com/maxgrossman"><img src="../images/bl_github-512.png"/></a></li>
                    <li><a href="https://twitter.com/maxgrossman13"><img src="../images/bl_twitter_circle.png"/></a></li>
                    <li><a href="https://linkedin.com/in/maxgrossman1"><img src="../images/bl_linkedin_circle.png"/></a></li>
                </ul>
            </div>
        </body>
    </html>