<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
        <!-- pages have three sections, the header, the content, and the footer -->
        <body>
            <!-- 
                 header has 2 parts. 
                    1) Emojis, as a nav ul
                    2) Navigation, as a special nav ul     
            -->
            <div class="header">
                <div class="col-xs-10 head">
                    <ul class="nav">
                        <li>
                            <img src="../images/SurfPicReg.png">
                            <img src="../images/world.png">
                            <img src="../images/SurfPicGoof.png">
                        </li>
                    </ul>

                    <ul class="nav nav-tabs nav-justified">
                        <li><a href="../">Home</a></li>
                        <li><a href="../about">About</a></li>
                        <li><a href="../maps">Maps</a></li>
                        <li><a href="../projects">Projects</a></li> 
                    </ul>    
                </div>
            </div>
            <div class="container">
                {{ content }}
            </div>
            <div class="footer">
                <ul>
                    <li><a href="mailto:m.grossman1813@gmail.com"></a><img src""/></li>
                    <li><a href="https://github.com/maxgrossman"><img src""/></a></li>
                    <li><a href="https://twitter.com/maxgrossman13"><img src=""/></a></li>
                    <li><a href="https://linkedin.com/in/maxgrossman1"><img src=""/></a></li>
                </ul>
            </div>
        </body>
    </html>