<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="{{base.url}}/css/main.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        </head>
        <!-- pages have three sections, the header, the content, and the footer -->
        <body>
            <!-- 
                 header has 2 parts. 
                    1) Emojis, as a nav ul
                    2) Navigation, as a special nav ul     
            -->
            <div class="header">
                <ul>
                    <li>
                        <img src="{{base.url}}/images/SurfPicReg.png">
                        <img src="{{base.url}}/images/world_2.png">
                        <img src="{{base.url}}/images/SurfPicGoof.png">
                    </li>
                </ul>                    
                <nav class="nav">
                    <ul>
                        <li><a href="{{base.url}}/">Home</a></li>
                        <li><a href="{{base.url}}/about">About</a></li>
                        <li><a href="{{base.url}}/projects">Projects</a></li>
                        <li><a href="{{base.url}}/blog">Blog</a></li> 
                    </ul>    
                </nav>
            </div>
            <div class="container">
                <h1>{{ page.title }}</h1>
                <p class="meta">{{ page.date | date_to_string }}</p>
                <div class="post">{{ content }}</div>
            </div>
            <div class="footer">
                <ul>
                    <li><a href="mailto:m.grossman1813@gmail.com"><img src="{{base.url}}/images/Bl-Email-Circle.png"/></a></li>
                    <li><a href="https://github.com/maxgrossman"><img src="{{base.url}}/images/bl_github-512.png"/></a></li>
                    <li><a href="https://twitter.com/maxgrossman13"><img src="{{base.url}}/images/bl_twitter_circle.png"/></a></li>
                    <li><a href="https://linkedin.com/in/maxgrossman1"><img src="{{base.url}}/images/bl_linkedin_circle.png"/></a></li>
                </ul>
            </div>
        </body>
    </html>